p {
  text-align: center; }

#screen {
  height: 500px;
  background-image: url(../../images/background-1.png);
  background-size: cover; }
  #screen #landing {
    color: #fff;
    position: absolute;
    font-weight: bold;
    top: 128px;
    text-align: center;
    width: 100%; }
    #screen #landing .main {
      font-size: 5em; }
    #screen #landing .sub {
      font-size: 1.2em; }
  #screen #live {
    width: 640px;
    height: 360px;
    margin: 0 auto;
    background-color: #000;
    position: relative;
    top: 256px; }

#programs {
  width: 960px;
  margin: 0 auto;
  margin-top: 280px; }
  #programs .program {
    margin-bottom: 78px; }
    #programs .program .title .main {
      display: inline-block;
      font-size: 1.8em; }
    #programs .program .title .sub {
      display: inline-block;
      margin-left: 12px;
      font-size: 1.2em;
      color: #a6a6a8; }
    #programs .program .items .item {
      padding: 12px;
      padding-left: 0;
      box-sizing: border-box; }
      #programs .program .items .item .video {
        width: 296px;
        height: 156px;
        margin-bottom: 8px;
        background-color: #000; }
      #programs .program .items .item a.name {
        text-decoration: none;
        display: block;
        color: #000;
        font-size: .9em;
        transition: color 0.2s; }
        #programs .program .items .item a.name:hover {
          color: #26977F; }
