doctype html
html
  head
    title SISE Game
    block styles
  body
    .header
      a(href="/").logo SISE Game
      
      #toolbar
        a(href="#").item 登录
        a(href="#").item 注册
    .container
      block container
    .footer Footer
    script(type="application/javascript", src="build/global.js")
    block scripts
